* {
//	margin:0;
//	padding:0;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
//	margin: 0;
//	padding: 0;
	color: #000000;
  width: 800px;
}


#heading {
	color:#cf0177;
	font-size:24px;
	border-bottom:1px dotted #83ddff;
  padding-top: 5px;
	padding-bottom:10px;
	margin-bottom:15px;
}

h1 {
	font-size:20px;
  padding-top:15px;
	padding-bottom:5px;
	margin-bottom:0px;
} 

h2 {
	font-size:16px;
  padding-top:8px;
	padding-bottom:3px;
	margin-bottom:0px;
  text-decoration:underline;
} 

h3 {
	//font-size:16px;
  padding-top:8px;
	padding-bottom:2px;
	margin-bottom:0px;
	margin-top:0px;
} 

a {
//	color:#83ddff;
	//font-size:12px;
	text-decoration:none;
}
a:hover {
	//color:#83ddff;
	//font-size:12px;
	text-decoration:underline;
}

image {
//height: 100px;
//width: 609px;
//max-width: 600px;
//max-width:100%; width:100%;
    width:100%;     /* ADD This property to local stylesheet */
    max-width: 600px;  /* ADD This property to local stylesheet */
    height: auto;
}

ul {
list-style-type: circle;
}

li a {
//	text-decoration: none;
	//color: #FFF;
	padding: 10px 0;
	//font-size:12px;
}

